@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.nav {
  background-color: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(3px);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 10rem;
  z-index: 2;
}
.nav div:nth-of-type(2) {
  padding-left: 25rem;
}
.nav ul {
  display: flex;
}
.nav li {
  list-style: none;
  margin: 0 1.35rem;
}
.nav h1 a {
  font-size: 1.75rem;
  font-weight: 700;
}
.nav a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 0.95rem;
  font-weight: 600;
}

.skills-container {
  height: 100vh;
}

.skills-title {
  color: whitesmoke;
  text-align: center;
  margin-bottom: 4rem;
  font-size: 2.15rem;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(5, 15%);
  justify-content: center;
  row-gap: 4rem;
  margin-bottom: 12rem;
}
.skills-grid span {
  padding: 1rem;
  align-items: center;
  margin: 0 auto;
  transition: all 0.135s ease-in;
  z-index: 0;
}
.skills-grid span img:hover {
  cursor: pointer;
}
.skills-grid span:hover {
  transform: scale(1.1);
  background-color: rgba(148, 5, 148, 0.75);
}

.projects-container {
  margin-bottom: 5rem;
}

.projects-title {
  color: whitesmoke;
  text-align: center;
  font-size: 2.15rem;
  margin-bottom: 3rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 30%);
  justify-content: space-around;
  justify-items: center;
}

.project-item {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: #3c3c3c 1px 3px 32px -1px;
  width: 450px;
  border-radius: 6px;
  margin-bottom: 2rem;
}
.project-item span {
  border-radius: 4px;
  box-shadow: #3c3c3c 1px 3px 32px -1px;
}
.project-item img {
  border: 0;
  border-radius: 4px;
}
.project-item h3 {
  color: #323232;
  margin: 0.5rem;
  font-size: 2rem;
}
.project-item p {
  margin: 0.5rem;
}

.project-item-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-item-icons {
  display: flex;
}
.project-item-icons li {
  cursor: pointer;
  margin-right: 2.25rem;
}
.project-item-icons li:nth-of-type(2) {
  margin-right: 1rem;
}
.project-item-icons svg {
  transform: scale(1.5);
  color: black;
  transition: all 0.1s ease-in;
}
.project-item-icons svg:hover {
  color: #c717c7;
}

.project-item-tech {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 0 0 0.5rem;
  padding: 0;
}
.project-item-tech li {
  font-family: monospace;
  color: black;
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: bold;
  line-height: 2;
  margin-right: 1.5rem;
  padding: 0;
}

.contact-container {
  margin-top: 10rem;
  margin-bottom: 3.5rem;
}
.contact-container h2 {
  text-align: center;
  color: whitesmoke;
  font-size: 2.15rem;
  margin-bottom: 3rem;
}

.contact-form {
  display: grid;
  justify-content: center;
  color: whitesmoke;
}
.contact-form input,
.contact-form textarea,
.contact-form button {
  background: rgba(8, 23, 48, 0.725);
  border: 1px solid #3dc9a7;
}
.contact-form input,
.contact-form textarea {
  width: 450px;
  padding: 0.35rem 0.75rem;
  resize: none;
  border-radius: 5px;
}
.contact-form input {
  margin-bottom: 1.5rem;
}
.contact-form textarea {
  margin-top: 1rem;
  height: 150px;
}
.contact-form button {
  cursor: pointer;
  margin: 1.5rem auto;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  transition: all 0.2s ease-in;
}
.contact-form button:hover {
  background-color: #3dc9a7;
}

.footer {
  text-align: center;
  margin-bottom: 3rem;
  color: whitesmoke;
}
.footer p {
  font-size: 0.85rem;
  margin-top: 2.5rem;
}

.footer-socials {
  display: flex;
  justify-content: center;
}
.footer-socials svg {
  cursor: pointer;
  color: whitesmoke;
  transform: scale(2);
  margin: 0 1.25rem;
  transition: all 0.1s ease-in;
}
.footer-socials svg:nth-of-type(3) {
  transform: scale(2.25);
}
.footer-socials svg:hover {
  color: #c717c7;
}

body {
  background-color: #081730;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: whitesmoke;
  font-size: 2.5rem;
  padding-top: 10rem;
  margin-bottom: 150px;
}
.about-section div {
  width: 550px;
  margin-left: 7rem;
}
.about-section h2 {
  font-size: 2.55rem;
  line-height: 3.5rem;
  font-weight: bold;
}
.about-section .green-text {
  color: #3dc9a7;
}
.about-section p {
  padding-top: 0.5rem;
  font-size: 1rem;
}
.about-section button {
  margin-top: 1.5rem;
  font-size: 1.15rem;
  cursor: pointer;
  color: whitesmoke;
  background-color: transparent;
  border: 1px solid #3dc9a7;
  padding: 0.35rem 1.15rem;
  border-radius: 5rem;
  transition: background-color 0.12s ease-in;
}
.about-section button:hover {
  background-color: #3dc9a7;
}

.about-image {
  position: relative;
  width: 250px;
  height: 250px;
  margin-left: 5rem;
  border: 0;
  border-radius: 50%;
  box-shadow: black 1px 3px 32px -4px;
  object-fit: cover;
  overflow: hidden;
  z-index: -1;
}
.about-image span {
  position: initial !important;
}

/*# sourceMappingURL=style.css.map */
